/* Professor John-Paul Takats, ISTE-240 - Ethan Logue */
/* Final Project, 4/13/2023 */

/***** ALL PAGES *****/

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0;
}

/* everything in here is 70% of the viewport */
.container {
    width: 70%;
    margin: auto;
}

/* bar goes along the whole viewport behind the nav bar */
#nav {
    width: 100%;
    height: 65px;
    background: #D02A2F;
    position: fixed;
    z-index: 98;
}

/* next two are used when the footer doesn't have a scroll bar - will try to implement using javascript for part 2 since it caused problems with changing viewport size */
footer {
    background: #ededed;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 102;
}

.footerList {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    z-index: 103;

    position: relative;
    margin-bottom: 45px;
}

/* the next two make the footer when there is a scroll bar visible */
.footerScroll {
    position: relative;
}

.footerListScroll {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    z-index: 103;

    position: absolute;
    width: 70%;
    margin-left: 15%;
}

/* bar that goes along the whole viewport behind the footer */
.footerBar {
    width: 100%;
    bottom: 0px;
    height: 80px;
    background: #ededed;
    position: relative;
    z-index: 102;
}

.footerList > li, .footerListScroll > li {
    margin: 0 30px 0 30px; 
}

/* links in the footer */
.footerNav {
    text-decoration: none;
    color: #5a5a5a;
}

.footerNav:hover {
    color: #D02A2F;
}

/* holds the logo and nav links */
header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #D02A2F;
    padding: 10px 10px 5px; /* top left-right bottom */
    position: fixed;
    z-index: 99;
    width: inherit;
}

/*** DESKTOP DROPDOWN ***/

.desktop {
    display: block;
}

/* nav elements that has a sublist */
.dropdown {
    margin-top: -5px; /* moves up to compensate for the extra 5px on the top */
    list-style: none;
    font-size: 0; /* gets rid of the space between li elements */
    position: relative;
    padding: 0;
}

.dropdown > li {
    font-size: medium; /* restores font size */
    display: inline;
    padding: 25px 20px;
    width: 10em;
    text-align: center;
    position: relative;
}

.drop:hover .underline::after {
    width: 100%;
    left: 0;
}

/* sublist for nav elements */
.submenu {
    display: none;
    position: absolute;
    background: #faf8f8;
    list-style: none;
    top: 68px;
    left: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    text-align: left;
    border-bottom: 1px solid #000000;
    z-index: 101;
}

/* displays sublist */
li:hover .submenu {
    display: block;
    opacity: 1;
}

.submenu li {
    display: block;
    width: 10em;
}

.submenu a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 15px 10px;
}

.submenu a:hover {
    background: #ededed;
    padding: 15px 10px;
}

/*** MOBILE DROPDOWN ***/

.mobile {
    display: none;
}

/* button for toggling menu states */
.toggleNav {
    cursor: pointer;
    height: 24px;
    width: 24px;
    position: relative;
    appearance: none;
    border: none;
    background-color: #D02A2F;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 101;
    margin-right: 24px;
    transition: all 0.5s ease;
}

/* next four are applied to the lines in the menu's open state */
.toggleNavRotate {
    transform: rotate(90deg);
}

.toggleNavRotate .top {
    transform: rotate(-45deg) translate(-4px, -2px);
    transform-origin: 100% 50%;
}

.toggleNavRotate .middle {
    transform: rotate(45deg) translate(8px, 8px);
    transform-origin: 100% 50%;
    opacity: 0;
}

.toggleNavRotate .bottom {
    transform: rotate(45deg) translate(-6px, 0px);
    transform-origin: 100% 50%;
}

/* each line on the button */
.menuIcon {
    position: relative;
    width: 100%;
    height: 0.1rem;
    border-radius: 16px;
    background-color: #fcfcfc;
    transition: all 0.5s ease;
}

/* menu that slides out */
.mobileDropdown {
    display: block;
    position: fixed;
    background-color: #d02a2fd4;
    right: -100%;
    margin: 0;
    list-style: none;
    padding: 0;
    height: 100%;
    width: 60%;
    text-align: right;
    top: 65px;
    z-index: 100;
}

/* next two area applied to the menu to make it slide in and out */
.mobileDropdown.slideIn {
    animation: slide-in .3s ease-in;
    right: 0;
}

.mobileDropdown.slideOut {
    animation: slide-out .3s ease-in;
    right: -100%;
}

@keyframes slide-in {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@keyframes slide-out {
    0% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}

.mobileDropdown li {
    padding: 16px;
    margin-right: 8%;
}

/* for responsive images */
.sizeable {
    width: 100%;
}

/* makes flex containers wrap - used to limit repeat code */
.wrap {
    flex-wrap: wrap;
}

#logo {
    margin-right: auto;
    position: relative;
    max-height: 50px;
}

/* next three are used in the custom underline effect */
.underline {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    position: absolute;
    top: 100%;
    height: .5px;
    width: 0;
    left: 50%;
    background-color: #ffffff;
    transition: 0.3s ease;
}

.underline:hover::after {
    width: 100%;
    left: 0;
}

main {
    margin: 0 10px;
    padding: 65px 0 10px 0;
}

hr {
    grid-column: 1/3;
    width: 100%;
    border: 2px solid #D02A2F;
    border-radius: 100%;
}

/***** HOME *****/

/* these boxes take you to the subindex pages (hotels.html, dining.html, attractions.html) */
.navBox {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 500px;
    min-width: 100px;
    min-height: 150px;
    height: auto;
    position: relative;
    float: left;
    text-decoration: none;
    transition: .3s ease;
    margin: 10px;
    width: 100%;
}

/* the following 3 pick the image for each nav box */
.stay {
    background-image: url("../images/trapp.jpg");
}

.eat {
    background-image: url("../images/piecasso.jpg");
}

.see {
    background-image: url("../images/recPath.jpg");
}

/* the inner box that has the title of each box */
.innerNavBox {
    margin: 100px auto;
    text-align: center;
    padding: 20px 0;
    background: rgb(255, 255, 255, .6);
    max-width: 300px;
    position: relative;
    transition: .3s ease;
}

/* the smaller text */
.innerNavBox h2 {
    color: #00a2d8;
    text-transform: uppercase;
    font-size: medium;
    font-weight: 400;
    margin: 0;
    transition: .3s ease;
}

/* the main text */
.innerNavBox h1 {
    color: #373737;
    font-size: 50px;
    font-weight: 600;
    margin: 0;
    transition: .3s ease;
}

.navBox:hover {
    background-color: rgb(118, 118, 118, .6);
    background-blend-mode: multiply;
}

.navBox:hover .innerNavBox {
    background: none;
}

/* selects both h1 nad h2 within navBox on hover */
.navBox:hover :is(h1, h2) {
    color: #ffffff;
}

#infoContainer {
    display: flex;
    grid-column: 1/3;
    justify-content: center;
}

/* special styles for the bio of Stowe */
#indexInfo {
    margin: 1% 25px 0 10px;
    padding: 3% 0;
    width: 50%;
}

/* special styles for the container holding the map for Stowe */
#mapContainer {
    display: flex;
    padding: 3% 0;
    width: 35%;
    justify-content: center;
}

.map {
    max-width: 300px;
    max-height: 329px;
    margin-right: 10px;
}

/***** CONTENT *****/

/* gives the specified main section a grid display */
.gridMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* main container that most pages uses */
.contentContainer {
    display: flex;
    justify-content: center;
    grid-column: 1/3;
}

.heading {
    grid-column: 1/3;
    text-align: center;
}

/* main image for each page */
.heroimg {
    max-height: 500px;
    min-height: 200px;
    object-fit: cover;
    object-position: center;
    grid-column: 1/3;
}

/* special case for the swimming page */
.heroimgSwim {
    max-width: 500px;
}

/* makes the image start at the top instead of being centered */
.heroimgTop {
    object-position: 0 0;
}

/* makes the image start at the bottom instead of being centered */
.heroimgBot {
    object-position: 0 100%;
}

/* quick hover effect for links */
.website {
    text-decoration: none;
    color: #D02A2F;
}

.website:hover {
    color: #000000;
}

/* embedded google maps */
iframe {
    overflow: hidden;
    max-width: 500px;
    height: 450px;
    position: relative;
    width: 100%;
    border: 0;
    margin: 0;
}

/* bio for all locations */
.info {
    margin: 0 25px 0 10px;
    max-width: 500px;
    width: 50%;
}

/* holds the google map for each location */
.location {
    margin-right: 10px;
    width: 50%;
    max-width: 500px;
}

/* special case for the bio on each swimming section */
.swimInfo {
    width: 500px;
}

/* special case for the container in swimming.html */
.swimContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* special rule for the listings on the subindex pages */
.catalogContainer {
    gap: 10px;
}

/* small box for each location on the subindex pages */
.catalog {
    border: 1px solid #ededed;
    height: 200px;
    width: 33%;
    max-width: 300px;
    min-width: 250px;
    color: #373737;
    text-decoration: none;
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
}

.catalog:hover {
    border-color: #797979;
}

.catalog > p {
    background: rgb(250, 248, 248, .8);
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 5px 0;
    width: 100%;
}

/* the following 9 pick the image for each catalog box */
.trapp {
    background-image: url(../images/trappSmall.jpg);
}

.gmi {
    background-image: url(../images/greenmountainSmall.jpg);
}

.stwflk {
    background-image: url(../images/stoweflakeSmall.jpg);
}

.pie {
    background-image: url(../images/piecassoSmall.jpg);
}

.idle {
    background-image: url(../images/idletymeSmall.jpg);
}

.ben {
    background-image: url(../images/benjerrySmall.jpg);
}

.mans {
    background-image: url(../images/mansfieldSmall.jpg);
}

.rec {
    background-image: url(../images/recPathSmall.jpg);
}

.swim {
    background-image: url(../images/mossglenSmall.jpg);
}

/***** FEEDBACK *****/

/* the textbox on the group number field */
#numGroup {
    width: 36px;
}

/* all text boxes */
.textbox {
    border-radius: 4px;
    border: 1px solid #000000;
}

/* when a text box is in use */
.textbox:focus {
    outline: none;
    border-color: #D02A2F;
}

textarea {
    width: 25%;
    min-width: 180px;
    height: 80px;
    margin-top: 10px;
}

form {
    padding-top: 10px;
}

/* everything in the form has padding bottom */
form > * {
    padding-bottom: 10px;
}

fieldset {
    width: 25%;
    min-width: 180px;
    margin-bottom: 10px;
    border: 1px solid #000000;
}

legend {
    font-weight: 500;
}

/* custom radio button appearance */
.radio {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    border: 1px solid #000000;
    position: relative;
    top: 2px;
    transition: .1s linear;
}

/* custom check for the radio buttons */
.radio:checked {
    border: 4px solid #D02A2F;
}

/* default state of other box - changed by javascript */
#otherBox {
    display: none;
    margin-left: 29px;
    width: 125px;
}

.ratingContainer {
    position: relative;
}

/* custom slider */
.slider {
    cursor: pointer;
    background: #D02A2F;
    appearance: none;
    outline: none;
    height: 2px;
    border-radius: 50px;
    margin-bottom: 15px;
    position: relative;
    top: 12px;
}

/* next two customize the slider circle - first one is for chrome, second is for firefox */
.slider::-webkit-slider-thumb {
    appearance: none;
    background: #000000;
    height: 12px;
    width: 12px;
    border-radius: 50px;
}

.slider::-moz-range-thumb {
    appearance: none;
    background: #000000;
    height: 12px;
    width: 12px;
    border-radius: 50px;
}

/* shows the current value of the slider */
#rangeVal {
    position: absolute;
    top: 25px;
    left: 140px;
}

/* submit button */
.button {
    appearance: none;
    border: 2px solid #000000;
    border-radius: 4px;
    background: none;
    transition: background .3s ease;
    padding: 5px 10px;
    color: #000000;
}

.button:hover {
    cursor: pointer;
    background: #D02A2F;
    color: white;

    /* adding duplicate variables because they weren't being applied on mobile without - i think, still isn't working but could have the old css cached  */
    padding: 5px 10px;
    border-radius: 4px;
}

/*** COMMENTS ***/

h3 {
    margin-top: 12px;
}

.commentContainer {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
}

.commentBox {
    border: 1px solid #D02A2F;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.commentDate {
    color: #595959;
    font-size: 12px;
    margin-top: -16px;
}

.nameBox {
    margin-left: 12px;
}

.dataBox {
    margin-left: 12px;
    font-size: smaller;
}

/***** SOURCES *****/

/* makes the table itself have a scrollbar instead of the window which caused it to run off the page */
#sourceTable {
    overflow-x: auto;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #373737;
}

/* makes last row not have border under it */
#lastTr {
    border: none;
}

th {
    text-align: left;
    padding: 5px 15px;
}

/* gives the data values some space for readability */
td {
    padding: 5px 15px 0 15px;
}

/* makes sure the images in sources.html don't get too big */
.source {
    max-width: 300px;
}

/***** GRADING *****/

.gradingList {
    list-style: none;
}

.gradingList > li {
    padding: 5px 0;
}

.redText {
    color: #D02A2F;
    text-align: center;
}

/***** SCREEN SIZES *****/

@media (max-width: 900px) {

    .container {
        width: 90%;
    }

    /* next two switch the menu styles */
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    /* stops having the map and bio of Stowe being side by side */
    #infoContainer {
        display: block;
    }

    /* the next three make the map and bio take up the whole width of the main container  */
    #indexInfo {
        width: 100%;
        margin: 0;
    }

    #mapContainer {
        width: 100%;
    }

    .map {
        margin: 0;
    }

    /* stops containers holding info and location of each page from being flex */
    .contentContainer {
        display: block;
    }

    /* next two make each subsection take up the whole page */
    .info, .location {
        width: 100%;
        margin: 0;
        max-width: 100%;
    }

    iframe {
        max-width: 100%;
    }

    /* next two make the container flex to allow them to wrap nicely for smaller screens */
    .catalogContainer {
        display: flex;
    }

    #indexNav {
        display: flex;
    }

    /* gets rid of padding on list for better readability */
    .gradingList {
        padding: 0px;
    }
}

@media (max-width: 480px) {

    /* makes a mini version of when the navBox is full size on larger displays  */
    .innerNavBox {
        margin: 30px auto;
        width: 70%;
    }

    .footerList {
        display: block;
        text-align: center;
        margin-bottom: 16px;
    }
    
    .footerListScroll {
        display: block;
        text-align: center;
        margin-bottom: 16px;
    }

    footer li {
        padding-bottom: 10px;
    }

    .footerBar {
        height: 120px;
    }
}